@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 80px 10px;
}

video {
  width: 40vw;
  height: 30vw;
  margin: 2rem;
  background: #2c3e50;
}

.video-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

/* Estilos para los mensajes en el chat */
#message-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#message-list li {
  position: relative;
  display: inline-block;
  max-width: 80%; /* Ajusta el ancho máximo según tus necesidades */
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 4px 10px; /* Cambio en el padding para ajustar el alto */
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  box-sizing: border-box; /* Añadido para que el padding se incluya en el ancho y alto total */
  text-align: left;
}

#message-list li::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #f2f2f2 transparent transparent transparent;
  left: 10px;
  transform: translateY(100%);
}

.live-chat-container {
  display: flex;
  flex-direction: column;
}

#message-input {
  margin-top: 10px;
}

#add-button {
  margin-top: 10px;
}
